<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="w-full bg-white rounded-lg shadow dark:border sm:max-w-lg xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Create an account
        </h1>
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="space-y-4 md:space-y-6">
          <!-- Username -->
          <div>
            <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
            <input type="text" id="username" formControlName="username" class="input-class" required>
            <div *ngIf="registrationForm.get('username')?.invalid && registrationForm.get('username')?.touched">
              <small class="text-red-600" *ngIf="registrationForm.get('username')?.errors?.['required']">Username is required.</small>
              <small  class="text-red-600" *ngIf="registrationForm.get('username')?.errors?.['minlength']">Minimum 3 characters required.</small>
              <small  class="text-red-600"*ngIf="registrationForm.get('username')?.errors?.['maxlength']">Maximum 20 characters allowed.</small>
              <small  class="text-red-600" *ngIf="registrationForm.get('username')?.errors?.['pattern']">Username must be alphanumeric.</small>
            </div>

          </div>

          <!-- First Name and Last Name -->
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
              <label for="firstName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name</label>
              <input type="text" id="firstName" formControlName="firstName" class="input-class" required>
              <div *ngIf="registrationForm.get('firstName')?.invalid && registrationForm.get('firstName')?.touched">
                <small class="text-red-600" *ngIf="registrationForm.get('firstName')?.errors?.['required']">firstName is required.</small>
              </div>
            </div>
            <div>
              <label for="lastName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name</label>
              <input type="text" id="lastName" formControlName="lastName" class="input-class" required>
              <div *ngIf="registrationForm.get('lastName')?.invalid && registrationForm.get('lastName')?.touched">
                <small class="text-red-600" *ngIf="registrationForm.get('lastName')?.errors?.['required']">lastName is required.</small>
              </div>
            </div>
          </div>

          <!-- CIN and Nationality -->
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
              <label for="cin" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">CIN</label>
              <input type="text" id="cin" formControlName="cin" class="input-class" required>
              <div *ngIf="registrationForm.get('cin')?.invalid && registrationForm.get('cin')?.touched">
                <small class="text-red-600" *ngIf="registrationForm.get('cin')?.errors?.['required']">cin is required.</small>
                <small  class="text-red-600" *ngIf="registrationForm.get('cin')?.errors?.['pattern']">cin must be numeric.</small>
              </div>
            </div>
            <div>
              <label for="nationality" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nationality</label>
              <input type="text" id="nationality" formControlName="nationality" class="input-class" required>
              <div *ngIf="registrationForm.get('nationality')?.invalid && registrationForm.get('nationality')?.touched">
                <small class="text-red-600" *ngIf="registrationForm.get('nationality')?.errors?.['required']">nationality is required.</small>
              </div>
            </div>
          </div>

          <!-- License Expiration -->
          <div>
            <label for="licenseExpiration" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">License Expiration</label>
            <input type="date" id="licenseExpiration" formControlName="licenseExpiration" class="input-class" required>
            <div *ngIf="registrationForm.get('licenseExpiration')?.invalid && registrationForm.get('licenseExpiration')?.touched">
              <small class="text-red-600" *ngIf="registrationForm.get('licenseExpiration')?.errors?.['required']">licenseExpiration is required.</small>
            </div>
          </div>

          <!-- Email -->
          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Email</label>
            <input type="email" id="email" formControlName="email" class="input-class" required>
          </div>

          <!-- Password -->
          <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
            <input type="password" id="password" formControlName="password" class="input-class" required>
          </div>

          <button type="submit" class="btn-class">Create an account</button>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Already have an account? <a routerLink="/login" class="link-class">Login here</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
